@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
<img class="mainLogo" src="~/images/AphroditeLogo.jpg"
         width="400"
         height="400"
         alt="Image could not be loaded">
<h1 class="display-4">Welcome to Aphrodite's shop</h1>
<h2>Aphrodite is an online store that sells cosmetics and beauty products.</h2>
</div>
    